body {
    font-family: Arial, sans-serif;
    background-color: linen;
    padding: 20px;
    color: darkgoldenrod;
}

h1 {
    text-align: center;
    color: darkgoldenrod;
}

.post {
    background-color: lightyellow;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.delete-button {
    color: lightyellow;
    background: burlywood;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}
.delete-button:hover {
    background: linen;
}

.add-button {
    background: linen;
    color: darkgoldenrod;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.add-button:hover {
    background: #1565C0;
}

